/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: pink;
  color: white;
  font-family: Tahoma;
  background-image: url("gif medusa.gif");

  font-size:21px;
  text-align: center;
}
<--! for a responsive background-->

html { 
  background: url(gif medusa.gif) norepeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: bold;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


.boxed{
	
	background: yellow;
	width: calc(50%);
}

content {
  max-width: 500px;
  margin: auto;
}

a.button {
  background-color: yellow; 
  border: 2px solid white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  font-family: Tahoma;
}

a.button2 {
  background-color: black; 
  border: 2px solid yellow;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  font-family: Tahoma;
}